[Desktop Entry]
Name=Bluetooth Battery Monitor
Comment=Check status of 54:46:6B:01:96:85
Exec=/usr/local/bin/bluetooth-battery-monitor
Icon=/home/avid/Projects/bluetooth-battery-monitor/package/usr/share/icons/hicolor/64x64/apps/my-app-icon.svg
Terminal=false
Type=Application
Categories=Utility;GTK;
Keywords=battery;bluetooth;wireless;
